* {
    padding: 0px;
    margin: 0px;
}


body {
    background-color: #140f2d;
    background-image: linear-gradient(0deg, rgb(0,0,0) 0%, rgb(20,15,45) 100%);
    background-attachment: fixed;
}

/* DEBUT NAVBAR */

nav {
    background-color: #4F759B;
    background-image: url(./Images/Navstyle_propre.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9vh;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.experience {
    font-family: 'Alatsi', sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: #4f759b00;
    font-size: 35px;
    border: 0px;
}

.logoaccueil {
    width: 75px;
    /* padding-left: 25px; */
}

.iconeprofil {
    display: none;
}

.dropbtn {
    font-family: 'Alatsi', sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: #4f759b00;
    font-size: 35px;
    border: 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Alatsi', sans-serif;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-size: 100%;
    min-width: 171px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-transform: uppercase;
    font-size: 40px;
    border: solid white 3px;
}

.dropdown:hover .dropdown-content {
    display: block;
    overflow: hidden;
}

.dropdown-content a:hover {
    -webkit-filter: sepia(1);
    filter: sepia(1);
}


a, a:link, a:visited{
    text-decoration: none;
    color: white
}

.dropdown-content a {
    width: 100%;
    display: block;
    padding-left: 15px;
    background-image: url(./Images/Boutonderoulant_propre.png);
}

#seco {
    width: 200px;
    height: 45px;
    background-color: #DE6B48;
    border-radius: 50px;
    color: white;
    font-family: 'Alatsi', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
    border: none;
    text-align: center;
    padding: 5px 10px 0px 10px;
}

/* FIN NAVBAR P */

.planisphere{
    width: 85%;
    display: flex;
    margin: auto;
}
footer{
    display: block;
    margin: auto;
    text-align: center;
}
footer {
    display: block;
    margin: auto;
    text-align: center;
    position:fixed;
    left: 0px;
    bottom: 0px;
    height: 6vh;
    width: 100%;
    background: #999;
}

.minitruc{
    /* height: 72px; */
    background: rgb(2,0,36);
    background-color: #4f759b;
    background-image: url(./Images/Navstyle_propre.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.Abe{
    width: 200px;
    position: relative;
    top: -26px;
}

