*{
    margin: 0; 
    padding: 0;
 }
 
 body {
    background-color: #140f2d;
    background-image: linear-gradient(0deg, rgb(0,0,0) 0%, rgb(20,15,45) 100%);
    background-attachment: fixed;
}

 nav {
    margin: 0;
    background-color: #4F759B;
    background-image: url(./Images/Navstyle.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9vh;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 3;
}

 .logoaccueil {
     width: 75px;
     padding-left: 25px;
 }
 .dropbtn {
    font-family: 'Alatsi', sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: #4f759b00;
    font-size: 35px;
    border: 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Alatsi', sans-serif;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-size: 100%;
    min-width: 171px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-transform: uppercase;
    font-size: 40px;
    border: solid white 3px;
}

.dropdown:hover .dropdown-content {
    display: block;
    overflow: hidden;
}

.dropdown-content a:hover {
    -webkit-filter: sepia(1);
    filter: sepia(1);
}


a, a:link, a:visited{
    text-decoration: none;
    color: white
}

.dropdown-content a {
    width: 100%;
    display: block;
    padding-left: 15px;
    background-image: url(./Images/Boutonderoulant.png);
}

.experience{
    width: 100%;
    height: 700px;
}

.titrepage{
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    color: #EECFD4;
    font-size: 50px;
    margin-left: 70px;
    margin-top: 40px;
    top: 35%;
}

h4{
    margin-left: 80px;
    margin-bottom: 10px;
}

.para {
text-align: justify;
margin-left: 80px;
border: solid rgb(199, 217, 237);
border-radius: 10px;
background-color: rgb(199, 217, 237);
height: 90px;
margin-right: 10px;
margin-bottom: 05px;
}


section{
    color: black;
    height: 150px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: solid rgb(159, 175, 223);
    width: 90%;
    background-color: rgb(159, 175, 223);
    margin: auto;
    margin-bottom: 40px;
}

.perousacados{
    height: 323px;
}

.grecesolo{
    height: 323px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    margin-top: 13px;
    margin-left: 135px;
    margin-right: 65px;
}

.boutonplus{
font-size: 40px;
text-align: center;
font-weight: 900;
color: white;
background-color: rgb(159, 175, 223);
width: 90px;
border: solid rgb(159, 175, 223);
border-radius: 25px;
margin: auto;
margin-bottom: 40px;
}

.petitesicones{
    float: left;
    margin-top: 27px;
}

.heart{
    float: right;
    display: flex;
    flex-direction: row;
}

.chiffrelike{
    font-weight: bold;
    margin-top: 2px;
    margin-left: 5px;
}

.date {
    float: right;
    color: red;
    font-size: 14px;
    font-style: italic;
}

footer {
    display: block;
    margin: auto;
    text-align: center;
    position:fixed;
    left: 0px;
    bottom: 0px;
    height: 6vh;
    width: 100%;
    background: #999;
}

.minitruc{
    /* height: 72px; */
    background: rgb(2,0,36);
    background-color: #4f759b;
    background-image: url(./Images/Navstyle.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.Abe{
    width: 200px;
    position: relative;
    top: -26px;
}